.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  &:hover {
    .file, .file-link {
      color: #4367a5cc;
    }
  }

  .file {
    font-size: 56px;
    color: #4367a5;
  }

  .file-link {
    text-decoration: none;
    color: #4367a5;
  }
}
